@import url('http://fonts.cdnfonts.com/css/starjedi-special-edition');

body {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    background-color: #1c1e22;
    font-family: 'Star Jedi', sans-serif;
}
h1, h2 {
    color: #fff;
}
h1, h3 {
    font-weight: normal;
}
button {
    width: 100%;
    font-family: 'Star Jedi', sans-serif;
    padding: 10px; 
    cursor: pointer;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 50px;
    padding: 0;
}
nav a {
    color: #c7b206;
    text-decoration: none;
    font-size: 1.2rem;
}
nav a:hover,
nav a.active {
    color: #fff;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 1% 15%;
}
.more {
    background-color: #c7b206;
    color: #272b30;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 200px;
    height: 100px;
    text-align: center;
    background-color: #272b30;
    color: #c7b206;
    padding: 20px;
    cursor: pointer;
}
.modal {
    position: fixed;
    top: 80px;
    width: 80%;
    max-width: 600px;
    background-color: #c7b206;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    box-shadow: 0 0 20px 10px #fff;
}
.modal div {
    width: calc(50% - 5px);
    text-align: left;
}
.close {
    background-color: #272b30;
    color: #c7b206;
}
.not-found {
    color: #fff;
    padding: 20vh 0;
}
.not-found h2 {
    font-size: 7em;
    margin: 0;
}
.not-found h3 {
    font-size: 2rem;
    margin: 0;
}